*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    width: 200px;
    height: 40px;
    display: flex;
    
}

main{

}

#galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 12px;
    padding: 12px;
    background-color: #000;
}

#galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}